<div class='card'>
    <div *ngIf='data'>
    <div class='card-header'>
        {{data.productName}}
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="{{data.imageUrl}}" width="150px">
                </div>
                <div class="col col-lg-9">
                    <h4><span class="badge badge-warning"><b>{{data.price | currency:'ZAR' : 'symbol-narrow':'1.2-2'}}</b></span></h4>
                    <p class="card-text">{{data.description}}</p>
                </div> 
              </div>
            <div class="row">
                <div class="col-sm"><b>Released Date :{{data.releaseDate}}</b> <br> Ratings : <pm-star [rating]='data.starRating'></pm-star></div>
                <div class="col col-lg-2">
                    <br>
                    <button style="width: 100%;" type="button" class="btn btn-danger" (click)="OK()">BUY</button> 
                </div>
            </div>
        </div>
        
    </div>
    </div>
    
</div>