<div style="opacity: 0.9;"  class="card">
  <div class="card-header ">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm"> 
            <div class="hero__text">
                <h6>Exclusive Music Collections</h6>
                <h2>Billboard Charts </h2>
                <p>Occasionally it’s love at first sight, but sometimes you may be unhappy with a product you bought, or you may just change your mind. Have no fear, 
                  because we provide our customers with up to 30 days to return the item for either money back or store credit.</p>
                <a style="width: 50%;margin-left: 20%;" class="btn btn-info primary-btn" (click)="Shop()">Shop now </a>
                <div class="hero__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div> 
        </div>
        </div>
        <div class="col-sm">
          <div class="text-center">
            <img src="../../assets/images/vynil.png"
                 class="img-responsive center-block"
                 style="max-height:500px;" />
          </div> 
    
        </div> 
      </div>
     
    </div>
  </div>
</div>
